.login-button {
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 10px 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.login-button img {
  margin-right: 10px;
  height: 24px;
}

.login-button span {
  margin-top: 3px;
  color: #555;
}
