.star_rate {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.comment_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.comment_form p {
  margin-bottom: 10px;
}
