.star_rate {
  font-size: 10px; /* Adjust the size as needed */
  margin-top: 10px; /* Adjust the spacing as needed */
}

.comment_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
