.home_list_header {
  padding: 10px 30px;
  justify-content: center;
  margin-bottom: 5px;
  color: #333;
}

.youtube_header {
  justify-content: center;
  margin-top: 10px;
  color: #333;
}

.home_list_heading {
  font-size: 26px;
  color: #333;
}
.home_filter {
  list-style: none;
  font-size: 16px;
}
.home_filter_item {
  color: #333;
  padding: 5px 10px;
  cursor: pointer;
}

.home_filter_item.active {
  border-bottom: 2px solid #333;
  font-weight: 500;
}

.home_cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* 경계선 */
.home-line {
  padding: 5px 10px;
  border-bottom: 1px dotted #ddd;
  margin-bottom: 10px;
  margin-top: 30px;
}

/* 동영상 */
.youtube {
  padding: 5px 10px;
  margin: 20px;
  text-align: center;
}
