.mypage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mypage-title {
  margin-top: 10px;
}

.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 5px 10px;
  height: auto;
  width: 800px;
}

.profile img {
  border-radius: 100%;
  overflow: hidden;
  margin-top: 20px;
  height: 100px;
  width: auto;
  margin-bottom: 5px;
}

.profile p {
  color: black;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.profile button {
  font-size: 0.8rem;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.my-comments {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 5px 10px;
  height: auto;
  width: 800px;
  margin-bottom: 50px;
}

.my-comments .comment-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: 600;
  border-bottom: 2px double #aaa;
}

.comment-container {
  width: auto;
  padding: 30px 20px;
}

.post-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;
  width: 600px;
  margin-bottom: 10px;
}

.poster {
  margin-top: 10px;
}

.poster img {
  width: auto;
  height: 150px;
  border-radius: 10px;
}

.comment-box {
  width: 100%;
}

/* 모달창 */
.modal-profile {
  text-align: center;
  margin-bottom: 10px;
}

.modal-profile img {
  border-radius: 100%;
  overflow: hidden;
  height: 100px;
  width: auto;
}
