.home-comment {
  display: flex;
  justify-content: center;
  margin-left: 100px;
}

.home-comment img {
  width: 26px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 5px;
}

.home-comment .comment_text {
  max-height: 200px;
  width: 300px;
  margin-bottom: 10px;
}

/* .slick-list */
.slick-list {
  width: 1200px;
  height: 200px;
  background-color: #f0f9ff;
}
.slick-slide {
  padding: 30px;
}

.slick-list .comment_box_slider {
  background-color: #f0f9ff;
  padding: 10px 20px;
}
