.home-comment {
  display: flex;
  margin-left: 100px;
}

.home-comment img {
  width: 26px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 5px;
}

.home-comment .comment_text {
  max-height: 200px;
  width: 300px;
  margin-bottom: 10px;
}

/* .slick-list */
.slick-list {
  width: 900px;
  height: 150px;
}

/* slide 박스 */
.slick-slide {
  width: 800px;
  margin-left: 20px;
}
