.home-comment {
  display: flex;
  margin-left: 100px;
}

.home-comment img {
  width: 26px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 5px;
}

.home-comment .comment_text {
  max-height: 500px;
  margin-bottom: 10px;
}

/* .slick-list */
.slick-list {
  height: auto;
  max-width: 800px;
  margin: 0 auto; /* 중앙 정렬을 위해 margin을 추가 */
}

/*  */
.slick-slide {
  width: 1200px;
  margin-left: 20px;
}
