/* 폰트 */
@font-face {
  font-family: "MBC1961GulimM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "MBC1961GulimM", sans-serif;
}

/* 공통적으로 자주쓰는 세로가운데정렬 */
.align_center {
  display: flex;
  align-items: center;
}
